body {
    margin: 0;
    padding: 0;
    background-color: rgb(168, 243, 218);
}

.main-game {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 10px;
    border: 1px solid white;
    border-radius: 100%;
    background-color: white;
    width: 700px;
    height: 700px;
}

.blue {
    grid-area: azul;
    background-color: rgb(2, 2, 173);
    border-bottom-right-radius: 100%;
}

.red {
    grid-area: vermelho;
    background-color: rgb(158, 5, 5);
    border-top-right-radius: 100%;
}

.yellow {
    grid-area: amarelo;
    background-color: rgb(168, 168, 0);
    border-bottom-left-radius: 100%;
}

.green {
    grid-area: verde;
    background-color: rgb(3, 78, 3);
    border-top-left-radius: 100%;
}

.selected {
    opacity: 0.4;
}